body, html {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Изменено с 40px на 20px */
}

#name {
    font-size: 24px;
}

main {
    display: flex;
    justify-content: center;
}

#text-container {
    white-space: pre-wrap;
    text-align: left;
}

