body, html {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#name {
    font-size: 24px;
}

main {
    display: flex;
    justify-content: center;
}

#text-container {
    white-space: pre-wrap;
    text-align: left;
}

/* Стили для мобильных устройств */
@media (max-width: 600px) {
    #text-container {
        font-size: 14px; /* Меньший размер шрифта для мобильных устройств */
        padding: 10px; /* Отступы для текста */
    }

    #name {
        font-size: 20px; /* Меньший размер заголовка для мобильных устройств */
    }
}

/* Стили для планшетов и настольных компьютеров */
@media (min-width: 601px) {
    #text-container {
        font-size: 16px; /* Больший размер шрифта для больших экранов */
        padding: 15px; /* Отступы для текста */
    }
}
