тело, html {
    маржа: 0;
    набивка: 0;
    цвет: белый;
    фоновый цвет: черный;
    font-семейство: Arial, без засечек;
}

заголовок {
    text-выравнивание: центр;
    край-топ: 20px;
    маржа-нижний: 20px;
}

#name {
    Размер шрифта: 2Эм; / * Увеличен дручей читаэмости * /
}

основной {
    дисплей: изгиб;
    оправдывать-контент: центр;
    гибкое направление: колонка; / * Изменено для лучшей адаптаци на мобилных * /
}

#text-контейнер {
    белое пространство: предварительно обернуть;
    text-выравнивание: оставил;
    набивка: 15px; / * Добавлен отступ, улуччения, читаэмости * /
    максимальная ширина: 800px; / * Максимальная история удобного член на больших экранах * /
    маржа: авто; / * Центрирование конейнера * /
}

/ * Стили для мобильны устройства * /
@media (максимальная ширина: 600px) {
 # text-container, #name {
        Размер шрифта: 4VW; / * Адаптый размер шрифта для мобилных * /
    }
}

/ * Стили княжество и народные компютеровы * /
@media (min-ширина: 601px) {
 # text-container, #name {
        Размер шрифта: 18px; / * ФИКСИРОВАНный размер Шрифта Для Болших Экранов * /
    }
}
